<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<title>Phase 5 Application For Deployment</title>
<link rel="stylesheet" href="scrollbarStyle.css">
</head>
<body>

<table><tr><td>
<div style="background-color: black;color: white;width:800px;margin-left: 200px;padding-left:30px;">
<h1 style="text-align: center;">This is For the Phase 5 Application To be Deployed</h1><br><br>
<h1>DESCRIPTION</h1>

<h3>Project Objective:</h3>

<p>As a Full Stack Developer, you have to build a CI/CD pipeline to demonstrate continuous deployment and host the application on AWS EC2 instance.</p>



<h3>Background of the problem statement:</h3>

<p>As the project is in the final stage, management has asked you to automate the integration and deployment of the web application. You are required to set up an environment where the application will be hosted and accessed by users. The source code is supposed to be fetched from a GitHub repository.</p>



<h3>You must use the following: </h3>
<ul>
<li>Eclipse</li>

<li>GitHub</li>

<li>Jenkins</li>

<li>AWS EC2/ Virtual machine</li>
</ul>


<h3>Following requirements should be met: </h3>

<p>A part of the source code should be tracked on the GitHub repository. You need to document the tracked files that are ignored during the final push to the GitHub repository.

The submission of your GitHub repository link is mandatory. In order to track your task, you need to share the link of the repository in the document.

The step-by-step process involved in completing this task should be documented.</p>
</div></td>


<td style="padding-left: 50px;vertical-align: top;padding-top: 300px;">
<a th:href="@{/quiz}" class="btn btn-outline-primary">Do you want to play Quiz</a>
</td>


</tr></table>
</body>
</html>